{% extends "layout.html" %}

{% block title %}
    Add Goal
{% endblock %}

{% block main %}
<form action="/addgoal" method="post">
    <div class="form-group">
        <select class = "form-control" name = "goal">
            <option disabled selected value>Goal</option>
            <option value = "weight">Weight</option>
            <option value = "bmi">Body Mass Index (BMI)</option>
            <option value = "speed">Speed</option>
            <option value = "money">Money</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Go!</button>
</form>

<div class = "customform">
    {% block div %}{% endblock %}
</div>
{% endblock %}